nextcord
git+https://github.com/huggingface/diffusers.git
transformers
accelerate
flash_attn
python-dotenv
xformers
deepcache
torch
numpy
pillow
sentencepiece
protobuf
beautifulsoup4
ftfy
opencv-python
stable-audio-tools
clip
torchaudio
einops
rembg
protobuf
optimum-quanto